.card {
    position: relative;
    background-color: #f9f9f9;
    width: 110px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(000, 000, 000, 0.2);
    margin: 10px 20px 10px;
}

.card-number {
    font-family: "Work Sans", sans-serif;
    position: absolute;
    margin: 0;
    top: 8px;
    left: 10px;
}