.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.game-message {
     display: flex;
     justify-content: center;
}

.game-message h2 {
    color: white;
}